<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">

        <div class="timo-detail-title">相关度分析</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100">
                <col width="100">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>tag</th>
                <th>value</th>
                <th>次数</th>
                <th>支持度</th>
                <th>置信度</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="info,infoStat : ${tagsons}">
                <td th:text="${info.key}"></td>
                <td th:text="${info.value}"></td>
                <td th:text="${info.times}"></td>
                <td th:text="${#numbers.formatDecimal(info.support,1,'COMMA',2,'POINT')}*100+'%'"></td>
                <td th:text="${#numbers.formatDecimal(info.confidence,1,'COMMA',2,'POINT')}*100+'%'"></td>
            </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>