<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link href="https://sumtudou.oss-cn-shanghai.aliyuncs.com/static/layer/mobile/need/layer.css" rel="stylesheet">
    <style>
        .in-a-line {
            display: inline-block;
        }
    </style>
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span><i class="fa fa-bars"></i> OSM控制台</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">

        <!--作为变量控制-->
        <input type="hidden" value="0" id="flag">

        <div style="min-height: 200px">

            <div id="buttons" style="margin-left: 40%;margin-top: 30px;">

                <div class="layui-upload-drag" id="test10">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                    <div class="layui-hide" id="uploadDemoView">
                        <hr>
                        <img src="" alt="上传成功后渲染" style="max-width: 196px">
                    </div>
                </div>

                <br/>

                <button style="margin-top:20px; margin-left:80px;" type="button" id="submit" class="layui-btn"> 数据预处理
                </button>
                <!--                <button style="margin-top:20px; margin-left:80px;" type="button" id="submit1" class="layui-btn"> SAX解析至数据库-->
                <!--                </button>-->
            </div>

            <div style="margin-top: 20px; margin-left: 20%">

                <a style="margin-left: 31.5%" id="btn-sub" class="layui-btn layui-btn-normal"
                   data-title="详细信息"

                   data-size="800,600" href="#" onclick="ggg()">完成数据挖掘</a>
            </div>

            <div id="table1" style="display: none; width: 80%;margin-left: 10% ">
                <table class="layui-table  timo-detail-table">
                    <colgroup>
                        <col width="100">
                        <col width="100">
                        <col>
                    </colgroup>

                    <tbody>
                    <tr>

                        <td width="33%" style="text-align:left;"><b><p>相关度分析</p></b></td>

                        <td width="33%" style="text-align:center;">
                            <a class="layui-btn layui-btn-sm layui-btn-warm" onClick="lastData()">上一个</a>
                        </td>

                        <td width="33%" style="text-align:center;">
                            <a class="layui-btn layui-btn-sm" onClick="nextData()">下一个</a>
                        </td>
                    </tr>

                    <tr id="first">
                        <td width="33%" style="text-align:left;"><p text="类名:">1</p></td>
                        <td width="33%" style="text-align:left;"><p text="类型:">2</p></td>
                        <td width="34%" style="text-align:left;"><p text="数据长度:">3</p></td>
                    </tr>
                    <tr id="second">
                        <td><p text="最小支持度:">4</p>
                        </td>
                        <td><p text="最小置信度:">5</p>
                        </td>
                        <td><p text="最小支持度数目:">6</p></td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div id="table2" style="width: 1124px;margin-left: 10% ; display: none;">
                <table id="demo" lay-filter="test"></table>
            </div>


        </div>

    </div>
</div>

<script th:replace="/common/template :: script"></script>
<script th:src="@{/js/plugins/jquery-3.3.1.min.js}" charset="utf-8"></script>
<script type="text/javascript" src="https://sumtudou.oss-cn-shanghai.aliyuncs.com/static/layer/layer.js"></script>

<!--<script src="https://sumtudou.oss-cn-shanghai.aliyuncs.com/plugins/jquery-3.3.1.min.js"></script>-->
<script th:inline='none'>
    var firstUrl = "http://sumtudou.cn/index/getRules?no=1&type=0";
    var firstNo = 1;
    var firstType = 0;
    var tableIns;
    var maxNo = 5;
    function nextData() {
        if (firstType <= 2 && firstNo <= maxNo) {
            firstType = firstType + 1;
        } else if (firstType == 3 && firstNo <= maxNo - 1) {
            firstType = 0;
            firstNo = firstNo + 1;
        }
        change(firstNo, firstType);
    }

    function lastData() {
        if(firstType>0){
            firstType = firstType -1;
        }else if(firstType == 0 && firstNo>=2){
            firstType = 3;
            firstNo = firstNo -1 ;
        }
        change(firstNo, firstType);
    }
    //通过两个参数进行拼接url
    function change(no, type) {
        str = "http://sumtudou.cn/index/getRules?no=";    //1&type=0";
        str = str + no.toString() + "&type=" + type.toString();
        url = str;
        tableIns.reload({
            url: url
        });
        getData(url);
    }

    layui.use('table', function () {
        var table = layui.table;
        //第一个实例
        tableIns = table.render({
            elem: '#demo'
            , height: 312
            , url: firstUrl //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: '序号', width: 80, sort: true} // fixed: 'left'
                , {field: 'support', title: '支持度(%)', sort: true, width: 200}
                , {field: 'confidence', title: '置信度(%)', sort: true, width: 200}
                , {field: 'first', title: '首项', width: 300}
                , {field: 'second', title: '末项', width: 300}
            ]]
        });
    });

    function getData(url) {
        $.get(url, function (data, status) {
            var obj = JSON.parse(data); //由JSON字符串转换为JSON对象
            firstArr = ["name", "type", "data_len"];
            for (var i = 0; i < 3; i++) {
                title = $($("#first").find("p")[i]).attr("text");
                value = title +"  " + obj[firstArr[i]];
                $($("#first").find("p")[i]).text(value);
            }
            secondArr = ["min_sup", "min_conf", "min_sup_num"];
            for (var i = 0; i < 3; i++) {
                title = $($("#second").find("p")[i]).attr("text");
                if(i != 2){
                    var number = parseFloat(obj[secondArr[i]]);
                    value = title + "  "+(number*100).toString()+"%";
                }else{
                    value = title + "  "+obj[secondArr[i]];
                }
                $($("#second").find("p")[i]).text(value);
            }
        });
    }

    function ggg() {
        $("#table1").css('display', 'block');
        $("#table2").css('display', 'block');
        getData(firstUrl);
    }

</script>

<script>
    layui.use(['layer'], function () {

        var layer2 = layui.layer;
        $("#submit").click(function () {
            console.log($(".layui-upload-choose"));

            len = $(".layui-upload-choose").length
            if (len == 0) {
                layer2.msg('请选择文件!', {
                    icon: 2,
                    time: 1500
                });
            } else {
                var index1 = layer2.load(0, {time: 5000});  //,{time: 20*1000}
                i = setTimeout("bbb()", 5000);//3秒后执行b()
            }
        });
    });

    function bbb() {
        layer.msg('处理完成！', {
            icon: 1,
            time: 1500
        });
    }
</script>


<script>
    layui.use(['upload', 'layer'], function () {
        var $ = layui.jquery
            , upload = layui.upload;
        var layer2 = layui.layer;    //内嵌式用法
        console.log("ggg");
        upload.render({
            elem: '#test10'
            , url: '#' //改成您自己的上传接口
            , auto: false
            , accept: 'file'
            , done: function (res) {
                layer.msg('上传成功');
                layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', res.files.file);
                console.log(res)
            }
            , error: function () {
                console.log("error");
            }
            , before: function (obj) {
                $("#flag").val("1");
                console.log("上传了？？？")
            }
        });
        //hahahahah

    });
</script>


<script>
    var ctx = "[[@{/}]]";
    var form, layedit, layer, laydate;

    layui.use(['form', 'layedit', 'layer', 'laydate'], function () {
        layedit = layui.layedit;
        laydate = layui.laydate;
        var layer2 = layui.layer,   //内嵌式用法
            $ = layui.jquery,
            form = layui.form;
        $("#submit1").click(function () {

            flags = $("#flag").val();
            console.log(flags);
            if (flags == "1") {
                console.log("11111")
            } else if (flags == "0") {
                console.log("0000")
            }

            /*var index1 = layer2.load(0);  //,{time: 20*1000}
            $.ajax({
                type: "POST",
                url: ctx + 'system/osmindex/savesql',
                data: {},
                contentType: "application/json",
                async: true,    //true  =  异步请求
                // dataType: "json",
                success: function (data, htmlData) {
                    var res = data;
                    if (res === "success") {
                        layer2.close(index1);
                        layer2.msg('插入成功!', {
                            icon: 1,
                            time: 1500
                        });
                    } else {
                        layer2.close(index1);
                        layer2.msg('插入失败!', {
                            icon: 2,
                            time: 1500
                        });
                    }
                },
                error: function (data) {
                }
            });*/
        });
    });
</script>
</body>
</html>